{% extends "Base.html" %} {% set Name = "Admin" %} {% block head %}Admin{% endblock %} {% block body %}

<div class="mx-auto md:px-10 md:p-0 p-2 rounded-xl shadow-xl max-w-full">
  <table class="w-full text-sm text-left rounded-xl shadow-xl">
    <thead class="text-xs text-gray-700 bg-gray-300 rounded-xl">
      <tr class="rounded-xl">
        <th scope="col" class="text-base font-bold p-2 rounded-tl-xl">User id</th>
        <th scope="col" class="text-base font-bold p-2">cv id</th>
        <th scope="col" class="text-base font-bold p-2">Code</th>
        <th scope="col" class="text-base font-bold p-2">Name</th>
        <th scope="col" class="text-base font-bold p-2">Age</th>
        <th scope="col" class="text-base font-bold p-2">Language</th>
        <th scope="col" class="text-base font-bold p-2">Region</th>
        <th scope="col" class="text-base font-bold p-2">Fulltime</th>
        <th scope="col" class="text-base font-bold p-2">Schooling</th>
        <th scope="col" class="text-base font-bold p-2">Men</th>
        <th scope="col" class="text-base font-bold p-2">Comment</th>
        <th scope="col" class="text-base font-bold p-2">Contact</th>
        <th scope="col" class="text-base font-bold p-2">Currentlylooking</th>
        <th scope="col" class="text-base font-bold p-2">Outexperience</th>
        <th scope="col" class="text-base font-bold p-2">Inexperience</th>
        <th scope="col" class="text-base font-bold p-2">Landbouw</th>
        <th scope="col" class="text-base font-bold p-2">Bouw</th>
        <th scope="col" class="text-base font-bold p-2">Handel</th>
        <th scope="col" class="text-base font-bold p-2">Gezondheidszorg</th>
        <th scope="col" class="text-base font-bold p-2">Communicatie</th>
        <th scope="col" class="text-base font-bold p-2">Onderwijs</th>
        <th scope="col" class="text-base font-bold p-2">Horeca</th>
        <th scope="col" class="text-base font-bold p-2">Tansport</th>
        <th scope="col" class="text-base font-bold p-2">Productie</th>
        <th scope="col" class="text-base font-bold p-2">Engineering</th>
        <th scope="col" class="text-base font-bold p-2">Edit</th>
        <th scope="col" class="text-base font-bold p-2 rounded-tr-xl">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employee_data %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th class="px-1 py-3">{{ employee.user_id }}</th>
        <th class="px-1 py-3">{{ employee.id }}</th>
        <th class="px-1 py-3">{{ employee.code }}</th>
        <td class="px-1 py-3">{{ employee.name }}</td>
        <td class="px-1 py-3">{{ employee.age }}</td>
        <td class="px-1 py-3">{{ employee.language }}</td>
        <td class="px-1 py-3">{{ employee.region }}</td>
        <td class="px-1 py-3">{{ employee.fulltime }}</td>
        <td class="px-1 py-3">{{ employee.schooling }}</td>
        <td class="px-1 py-3">{{ employee.men }}</td>
        <td class="px-1 py-3">{{ employee.comment }}</td>
        <td class="px-1 py-3">{{ employee.contact }}</td>
        <td class="px-1 py-3">{{ employee.currentlylooking }}</td>
        <td class="px-1 py-3">{{ employee.outexperience }}</td>
        <td class="px-1 py-3">{{ employee.inexperience }}</td>
        <td class="px-1 py-3">{{ employee.landbouw }}</td>
        <td class="px-1 py-3">{{ employee.bouw }}</td>
        <td class="px-1 py-3">{{ employee.handel }}</td>
        <td class="px-1 py-3">{{ employee.gezondheidszorg }}</td>
        <td class="px-1 py-3">{{ employee.communicatie }}</td>
        <td class="px-1 py-3">{{ employee.onderwijs }}</td>
        <td class="px-1 py-3">{{ employee.horeca }}</td>
        <td class="px-1 py-3">{{ employee.transport }}</td>
        <td class="px-1 py-3">{{ employee.productie }}</td>
        <td class="px-1 py-3">{{ employee.engineering }}</td>
        <td class="px-1 py-3">
          <a class="bg-yellow-300 hover:bg-yellow-100 rounded-xl shadow-xl text-center px-2 py-1" href="/admin/edit/employee/{{ employee.user_id }}">Edit</a>
        </td>
        <td class="px-1 py-3">
          <a class="bg-red-400 hover:bg-red-100 rounded-xl shadow-xl text-center px-2 py-1" href="/admin/delete/{{ employee.user_id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
