{% extends "Base.html" %} {% set Name = "Admin" %} {% block head %}Admin{% endblock %} {% block body %}

<div class="mx-auto md:px-10 md:p-0 p-2 rounded-xl shadow-xl max-w-full overflow-x-auto">
  <table class="w-full text-sm text-left rounded-xl shadow-xl">
    <thead class="text-xs text-gray-700 bg-gray-300 rounded-xl">
      <tr class="rounded-xl">
        <th scope="col" class="text-base font-bold p-2 rounded-tl-xl">Coins</th>
        <th scope="col" class="text-base font-bold p-2">Subscription</th>
        <th scope="col" class="text-base font-bold p-2">user id</th>
        <th scope="col" class="text-base font-bold p-2">Employer id</th>
        <th scope="col" class="text-base font-bold p-2">Edit</th>
        <th scope="col" class="text-base font-bold p-2 rounded-tr-xl">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for employer in employer_data %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th class="px-1 py-3">{{ employer.coins }}</th>
        <td class="px-1 py-3">{{ employer.subscription }}</td>
        <td class="px-1 py-3">{{ employer.user_id }}</td>
        <td class="px-1 py-3">{{ employer.id }}</td>
        <td class="px-1 py-3">
          <a class="bg-yellow-300 hover:bg-yellow-100 rounded-xl shadow-xl text-center px-2 py-1" href="/admin/edit/employer/{{ employer.user_id }}">Edit</a>
        </td>
        <td class="px-1 py-3">
          <a class="bg-red-400 hover:bg-red-100 rounded-xl shadow-xl text-center px-2 py-1" href="/admin/delete/{{ employer.user_id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
