{% extends "Base.html" %} {% set Name = "Forgotpassword" %} {% block head %}Reset password{% endblock %} {% block body %}


<form method="post" id="forgot-form">
  {{ form.csrf_token }}
  <div class="m-4 rounded-lg bg-white p-8 shadow-xl sm:mx-auto sm:mt-36 sm:max-w-lg">
    <p id="reset-text" class="text-xl font-bold">{{ language_dict['reset-text'] }}</p>
    <div class="mt-10">
      <p id="sendemail" class="mb-5 hidden font-bold text-green-600"></p>
      <label id="label-text" for="email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">{{ language_dict['label-text'] }}</label>
      {{ form.email(id="email", placeholder="email@email.com", class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full
      p-2.5") }}
    </div>
    <button onclick="Postform();" id="button-send" type="button" class="mt-5 w-full rounded-xl bg-blue-600 p-2 text-sm font-medium text-white hover:bg-blue-300">{{ language_dict['button-send'] }}</button>
  </div>
</form>

{% endblock %}
