{% extends "Base.html" %} {% set Name = "Search" %} {% block head %}Search{% endblock %} {% block body %}

<!-- searchbar -->
<div class="flex lg:min-w-[800px] max-w-[1000px] h-fit md:m-10 m-5 lg:mx-auto">
  <button
    onclick="ShowHide(this);"
    id="filter-btn"
    class="flex justify-center items-center bg-gray-200 hover:bg-gray-400 hover:border-gray-500 focus:border-2 focus:border-gray-600 border border-gray-300 rounded-l-lg p-2">
    {{ language_dict['filter-text'] }}
    <svg class="w-4 h-4 ml-2 rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"></path>
    </svg>
  </button>
  <input id="input-search" class="w-full bg-gray-100 border border-gray-300 p-2" type="text" placeholder="{{ language_dict['search-placeholder'] }}" />
  <button type="button" onclick="MakeRequest()" class="bg-blue-700 hover:bg-blue-400 rounded-r-lg p-3">
    <svg class="w-4 h-4 fill-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"></path>
    </svg>
  </button>
</div>

<!-- filter section -->
<div id="filter-div" class="bg-white shadow-2xl rounded-lg md:w-1/6 w-[calc(100%-80px)] min-w-[300px] z-20 absolute p-5 left-10">
  <div class="w-full">
    <label id="gender-label" class="break-keep" for="gender">{{ language_dict['gender-label'] }}</label>
    <select id="gender" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
      <option id="None-option-gender" value="None">None</option>
      <option id="Male-option-gender" value="Male">{{ language_dict['Male-option-gender'] }}</option>
      <option id="Female-option-gender" value="Female">{{ language_dict['Female-option-gender'] }}</option>
    </select>
  </div>
  <div class="w-full mt-5">
    <label id="searching-label" class="break-keep" for="searching">{{ language_dict['searching-label'] }}</label>
    <select id="searching" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
      <option id="None-option-searching" value="None">None</option>
      <option id="yessearching-option-searching" value="yessearching">{{ language_dict['yessearching-option-searching'] }}</option>
      <option id="notsearching-option-searching" value="notsearching">{{ language_dict['notsearching-option-searching'] }}</option>
    </select>
  </div>
  <div class="w-full mt-5">
    <label id="work-label" class="break-keep" for="work">{{ language_dict['work-label'] }}</label>
    <select id="work" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
      <option id="None-option-work" value="None">None</option>
      <option id="Full-option-work" value="Full-Time">{{ language_dict['Full-option-work'] }}</option>
      <option id="Part-option-work" value="Part-Time">{{ language_dict['Part-option-work'] }}</option>
    </select>
  </div>
  <div class="w-full mt-5">
    <label id="region-label" class="break-keep" for="region">{{ language_dict['region-label'] }}</label>
    <select id="region" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
      <option value="None">None</option>
      <option value="'s Hertogenbosch">'s Hertogenbosch</option>
      <option value="Alkmaar">Alkmaar</option>
      <option value="Almelo">Almelo</option>
      <option value="Almere">Almere</option>
      <option value="Alphen aan den Rijn">Alphen aan den Rijn</option>
      <option value="Amersfoort">Amersfoort</option>
      <option value="Amstelveen">Amstelveen</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Apeldoorn">Apeldoorn</option>
      <option value="Arnhem">Arnhem</option>
      <option value="Assen">Assen</option>
      <option value="Bergen op Zoom">Bergen op Zoom</option>
      <option value="Breda">Breda</option>
      <option value="Capelle aan den IJssel">Capelle aan den IJssel</option>
      <option value="Delft">Delft</option>
      <option value="Den Haag">Den Haag</option>
      <option value="Den Helder">Den Helder</option>
      <option value="Deventer">Deventer</option>
      <option value="Doetinchem">Doetinchem</option>
      <option value="Dordrecht">Dordrecht</option>
      <option value="Ede">Ede</option>
      <option value="Eindhoven">Eindhoven</option>
      <option value="Emmen">Emmen</option>
      <option value="Enschede">Enschede</option>
      <option value="Flevoland">Flevoland</option>
      <option value="Gouda">Gouda</option>
      <option value="Haarlem">Haarlem</option>
      <option value="Haarlemmermeer">Haarlemmermeer</option>
      <option value="Heerlen">Heerlen</option>
      <option value="Helmond">Helmond</option>
      <option value="Hengelo">Hengelo</option>
      <option value="Hilversum">Hilversum</option>
      <option value="Hoogeveen">Hoogeveen</option>
      <option value="Hoorn">Hoorn</option>
      <option value="Katwijk">Katwijk</option>
      <option value="Leeuwarden">Leeuwarden</option>
      <option value="Leiden">Leiden</option>
      <option value="Leidschendam-Voorburg">Leidschendam-Voorburg</option>
      <option value="Lelystad">Lelystad</option>
      <option value="Maastricht">Maastricht</option>
      <option value="Middelburg">Middelburg</option>
      <option value="Nieuwegein">Nieuwegein</option>
      <option value="Nijmegen">Nijmegen</option>
      <option value="Oss">Oss</option>
      <option value="Purmerend">Purmerend</option>
      <option value="Roermond">Roermond</option>
      <option value="Roosendaal">Roosendaal</option>
      <option value="Rotterdam">Rotterdam</option>
      <option value="Schiedam">Schiedam</option>
      <option value="Sittard-Geleen">Sittard-Geleen</option>
      <option value="Spijkenisse">Spijkenisse</option>
      <option value="Súdwest-Fryslân">Súdwest-Fryslân</option>
      <option value="Terneuzen">Terneuzen</option>
      <option value="Tilburg">Tilburg</option>
      <option value="Utrecht">Utrecht</option>
      <option value="Veenendaal">Veenendaal</option>
      <option value="Venlo">Venlo</option>
      <option value="Vlaardingen">Vlaardingen</option>
      <option value="Westland">Westland</option>
      <option value="Zaanstad">Zaanstad</option>
      <option value="Zeist">Zeist</option>
      <option value="Zoetermeer">Zoetermeer</option>
      <option value="Zwolle">Zwolle</option>
    </select>
  </div>
  <div class="w-full mt-5">
    <label id="work-select-label" for="select"> {{ language_dict['work-select-label'] }}</label>
    <button
      onclick="ShowHide(this);"
      id="work-btn"
      class="flex justify-center items-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2 placeholder-gray-400 focus:border-blue-500 rotate-180">
      <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"></path>
      </svg>
    </button>
  </div>

  <div id="checkbox-div" class="border border-gray-300 w-full rounded-lg p-5 mt-1">
    <input name="landbouw" type="checkbox" for="landbouw-label" />
    <label id="landbouw-label">{{ language_dict['landbouw-work'] }}</label>
    <br />

    <input name="bouw" type="checkbox" for="bouw-label" />
    <label id="bouw-label">{{ language_dict['bouw-work'] }}</label>
    <br />

    <input name="handel" type="checkbox" for="handel-label" />
    <label id="handel-label">{{ language_dict['handel-work'] }}</label>
    <br />

    <input name="gezondheidszorg" type="checkbox" for="gezondheidszorg-label" />
    <label id="gezondheidszorg-label">{{ language_dict['gezondheidszorg-work'] }}</label>
    <br />

    <input name="communicatie" type="checkbox" for="communicatie-label" />
    <label id="communicatie-label">{{ language_dict['communicatie-work'] }}</label>
    <br />

    <input name="onderwijs" type="checkbox" for="onderwijs-label" />
    <label id="onderwijs-label">{{ language_dict['onderwijs-work'] }}</label>
    <br />

    <input name="horeca" type="checkbox" for="horeca-label" />
    <label id="horeca-label">{{ language_dict['horeca-work'] }}</label>
    <br />

    <input name="transport" type="checkbox" for="transport-label" />
    <label id="transport-label">{{ language_dict['transport-work'] }}</label>
    <br />

    <input name="productie" type="checkbox" for="productie-label" />
    <label id="productie-label">{{ language_dict['productie-work'] }}</label>
    <br />

    <input name="engineering" type="checkbox" for="engineering-label" />
    <label id="engineering-label">{{ language_dict['engineering-work'] }}</label>
    <br />
  </div>
  <div class="flex flex-col items-center justify-center mt-5">
    <button onclick="MakeRequest()" method="submit" class="bg-blue-600 hover:bg-blue-300 w-full rounded-xl text-white px-1 py-2 text-center">
      <svg class="w-4 h-4 fill-white mx-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"></path>
      </svg>
    </button>
  </div>
</div>

<div id="profile-div" class="md:p-10 p-5">
  <template id="profile">
    <div class="xl:grid grid-cols-2 shadow-xl lg:min-w-[800px] max-w-[1000px] rounded-xl bg-white mx-auto relative p-5 mt-10">
      <button type="button" class="absolute top-5 right-5 book-mark">
        <svg id="save-button" onclick="ButtonEvents(this)" class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"></path>
        </svg>
      </button>
      <div class="xl:w-fit h-full mt-8">
        <div class="flex flex-wrap gap-4">
          <p id="search-profile" class="p-2 bg-green-600 rounded-xl text-white font-bold"></p>
          <p id="name-profile" class="font-bold text-2xl my-auto"></p>
        </div>
        <div class="flex flex-wrap gap-4 mt-4">
          <p id="age-profile" class="font-bold text-2xl my-auto"></p>
          <p id="gender-profile" class="font-bold text-xl my-auto"></p>
        </div>
        <p id="worktime-profile" class="font-bold"></p>
        <div class="flex flex-wrap gap-2 mt-4">
          <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"></path>
          </svg>
          <p id="study-profile"></p>
        </div>
        <div class="flex flex-wrap gap-2 mt-2">
          <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"></path>
          </svg>
          <p id="language-profile"></p>
        </div>
        <div id="work-items-profile" class="flex flex-wrap mt-4 gap-2">
          <p id="landbouw-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['landbouw-work'] }}</p>
          <p id="bouw-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['bouw-work'] }}</p>
          <p id="handel-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['handel-work'] }}</p>
          <p id="gezondheidszorg-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['gezondheidszorg-work'] }}</p>
          <p id="communicatie-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['communicatie-work'] }}</p>
          <p id="onderwijs-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['onderwijs-work'] }}</p>
          <p id="horeca-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['horeca-work'] }}</p>
          <p id="transport-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['transport-work'] }}</p>
          <p id="productie-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['productie-work'] }}</p>
          <p id="engineering-work" class="bg-gray-300 px-4 py-1 rounded-lg hidden">{{ language_dict['engineering-work'] }}</p>
        </div>
        <div class="flex flex-wrap mt-4 gap-2 h-max">
          <svg class="w-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
          </svg>
          <p id="region-profile"></p>
          <p id="code-profile" class="ml-8"></p>
        </div>
      </div>
      <div>
        <div class="w-full-gray-300 mt-4 rounded-xl p-2">
          <p id="inexperience-title" class="font-bold text-2xl">{{ language_dict['inexperience-title'] }}</p>
          <p id="inexperience-profile" class="mt-2"></p>
        </div>
        <div class="w-full-gray-300 mt-4 rounded-xl p-2">
          <p id="experience-title" class="font-bold text-2xl">{{ language_dict['experience-title'] }}</p>
          <p id="experience-profile" class="mt-2"></p>
        </div>
        <div class="w-full-gray-300 mt-4 rounded-xl p-2">
          <p id="comments-title" class="font-bold text-2xl">{{ language_dict['comments-title'] }}</p>
          <p id="comments-profile" class="mt-2"></p>
        </div>
      </div>
    </div>
  </template>
</div>

<p class="w-full p-5 text-center font-bold text-white" id="result-number">{{ language_dict['results'] }}</p>
<div id="trigger" class="w-full p-5 text-center font-bold text-white">{{ language_dict['trigger'] }}</div>

<script>
  "use strict";

  const MEN = "{{ language_dict['MEN'] }}"
  const WOMAN = "{{ language_dict['WOMAN'] }}"
  const FULLTIME = "{{ language_dict['FULLTIME'] }}"
  const PARTTIME = "{{ language_dict['PARTTIME'] }}"
  const LOOKING = "{{ language_dict['LOOKING'] }}"
  const NOTLOOKING = "{{ language_dict['NOTLOOKING'] }}"

  const RESULTS = "{{ language_dict['results'] }}"

</script>



{% endblock %}
